version: '3.8'
name: id_prod

services:
  id_api:
    build:
      context: .
      dockerfile: ./api/Dockerfile.prod
    env_file:
      - ./.env
    environment:
      - NODE_ENV=production
    restart: always
    networks:
      - app

  id_web:
    build:
      context: .
      dockerfile: ./web/Dockerfile.prod
    env_file:
      - ./.env
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=${VIRTUAL_HOST:-id.dorkodu.com}
      - VIRTUAL_PORT=${VIRTUAL_PORT:-9000}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST:-id.dorkodu.com}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-hey@dorkodu.com}
    expose:
      - ${VIRTUAL_PORT:-9000}
    restart: always
    networks:
      - nginx-proxy
      - app

  id_postgres:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-id}
      - PGPORT=${PGPORT:-7000}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    networks:
      - app

  id_keydb:
    image: eqalpha/keydb:x86_64_v6.3.1
    restart: always
    networks:
      - app

volumes:
  pgdata:

networks:
  nginx-proxy:
    external: true
  app: