version: '3.8'
name: id_dev

services:
  id_api:
    build:
      context: .
      dockerfile: ./api/Dockerfile.dev
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
      - VIRTUAL_HOST=${VIRTUAL_HOST:-id.dorkodu.com}
      - VIRTUAL_PORT=${API_PORT:-8001}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST:-id.dorkodu.com}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-hey@dorkodu.com}
      - VIRTUAL_PATH=/api
    expose:
      - ${API_PORT:-8001}
    volumes:
      - ./api:/id/api
      - api_node_modules:/id/api/node_modules
    restart: always
    networks:
      - app
      - nginx-proxy

  id_web:
    build:
      context: .
      dockerfile: ./web/Dockerfile.dev
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
      - VIRTUAL_HOST=${VIRTUAL_HOST:-id.dorkodu.com}
      - VIRTUAL_PORT=${WEB_PORT:-8000}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST:-id.dorkodu.com}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-hey@dorkodu.com}
      - VIRTUAL_PATH=/
    expose:
      - ${WEB_PORT:-8000}
    volumes:
      - ./web:/id/web
      - ./api:/id/api
      - web_node_modules:/id/web/node_modules
    restart: always
    networks:
      - app
      - nginx-proxy

  id_postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-id}
      - PGPORT=${PGPORT:-7000}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    networks:
      - app

  id_keydb:
    image: eqalpha/keydb:x86_64_v6.3.1
    volumes:
      - ./keydb/keydb.conf:/etc/keydb/keydb.conf
    restart: always
    networks:
      - app

volumes:
  pgdata:
  api_node_modules:
  web_node_modules:

networks:
  nginx-proxy:
    external: true
  app: